


.nav-ul li{
  display: inline-block;
  padding:10px;
}

.nav-ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: rgb(211, 65, 109);
}


.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgb(211, 65, 109);
  color: #fff;
}

.register , .product{
  /* margin-left: 30% ; */
  text-align: center;
  align-items: center;
  padding-top: 5%;
  color:rgb(180, 15, 92) ;
}


.login{
  margin-left: 30% ;
  margin-top: 100px;
}


.inputBox {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid rgb(214, 58, 131);
}

.inpu{
padding-left: 36%;
}

.appButton {
  margin: 25px;
  padding: 10px;
  width: 12%;
   background-color: rgb(215, 83, 127);
  border: 2px solid rgb(134, 75, 95);
  cursor: pointer;
  border-radius: 80px;
}

.nav-right {
  text-align: right;
}

.logo {
  width: 10%;
  float: left;
  border-radius: 49%;
  margin-top: 3px;
  margin-left: 5%;
  border-bottom: 2px solid rgb(215, 83, 127);
  border-top: 2px solid whitesmoke;

}


.invaild-input{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 20px;
}

.product-list{
  text-align: center;
  margin-top: 50px;
  /* background-image:  url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI2P75cJsNTUZbSkJAJFrLMtTtDki9vSnHF_pSbAc_TA&usqp=CAU&ec=48665701"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:rgb(180, 15, 92);

}

.search-product-box{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 3px solid rgb(211, 89, 140);
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
  padding-left:20px ;
}

.tbl{
  background-color: rgba(255, 192, 203, 0.808);
}


.btns{
  
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 33%;
  padding-right: 25%;
}

.btns1{
  margin-left: 2%;
  margin-right: 2%;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(211, 65, 109);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
